{
  "extends": "standard",
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
      "ecmaVersion": 5
  },
  "rules": {
    "indent": [2, 4],
    "semi": [2, "always"],
    "comma-dangle": [2, "always-multiline"],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }]
  },
  "globals": {
    "define": true,
    "FlexText": true
  }
}
